*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}
.container {
  display: flex;
  height: 100vh;
  background-color: rgb(220, 228, 228);
}
.player-1 {
  height: 100%;
  width: 50%;
  border-right: 1px solid black;
}
.player-2 {
  height: 100%;
  width: 50%;
  border-left: 1px solid black;
}
.header {
  color:rgb(0, 0, 0);
  font-weight: 100;
  text-align: center;
  padding-top: 20px;
}
.counter {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.score {
  border-radius: 3px;
  width: 10%;
  background-color: rgb(34, 34, 34);
  color:rgb(220, 228, 228);
  font-size: 56px;
  text-align: center;
}
i {
  font-size: 300px;
}
.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.button {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 7%;
}
.rotate-dice {
  color:rgb(220, 228, 228);
  border: none;
  background-color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 24px;
  width: 25%;
  border-radius: 3px;
}
.rotate-dice:hover {
  background-color: rgb(220, 228, 228);
  color: rgb(34, 34, 34);
  transform: scale(1.1);
  transition-duration: 0.3s;
}